:root {
    --primaryTextColor: rgb(1, 165, 1);
    --primaryBgColor: rgb(48, 48, 48);
    --secondaryBgColor: rgb(109, 109, 109)
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--secondaryBgColor); 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--primaryBgColor); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80); 
}

body {
    overflow-y: hidden;
}

.landingPageBackground {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/geometric-gradient-technology-background.avif');
    background-size: cover;
    position: relative;
}

.landingPageBackgroundOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.landingPageSelection {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(59, 8, 117);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    row-gap: 10px;
    z-index: 10;
}

.landingPageSelection > h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.landingPageSelection > a {
    width: 60%;
    border: 2px solid black;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.landingPageSelection > a:hover {
    background-color: black;
    color: white;
}

.profile-page-main-up {
    width: 100%;
    height: 10vh;
    background-color: var(--primaryBgColor);
    color: var(--primaryTextColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.power-button {
    font-size: 20px;
}

.power-button:hover {
    color: white;
    cursor: pointer;
}

.profile-page-main-down {
    width: 100%;
    height: 90vh;
    background-color: green;
    display: flex;
    /* position: relative; */
}

.profile-page-contacts-list {
    width: 25%;
    height: 90vh;
    background-color: var(--secondaryBgColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-page-contacts-list-div {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.profile-page-message-window {
    width: 75%;
    height: 90vh;
    background-color: var(--secondaryBgColor);
    border-left: 5px solid var(--primaryBgColor);
}

.profile-page-contacts-list-room {
    padding: 10px 0px;
    border-bottom: 0.5px solid var(--primaryBgColor);
}

.profile-page-contacts-list-room:hover {
    background-color: rgb(187, 187, 187);
    color: white;
}

.profile-page-contacts-list-room > a {
    width: 100%;
    color: black;
    text-decoration: none;
}

.single-chat-room-div {
    width: 100%;
    height: 90vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-chat-room-info-div {
    width: 100%;
    height: 10%;
    padding: 0px 10px;
    background-color: var(--secondaryBgColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primaryBgColor);
}

.close-button {
    color: var(--primaryBgColor);
    font-size: 20px;
    padding: 0px 10px;
}

.close-button:hover {
    cursor: pointer;
    color: rgb(175, 24, 24);
}

.single-chat-room-messages-list-div {
    width: 100%;
    height: 80%;
    padding: 10px;
    background-color: var(--secondaryBgColor);
    overflow-y: auto;
}

.single-message-div {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.single-message-div-self {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.single-message-content-div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    column-gap: 10px;
    font-size: 20px;
    margin: 5px 0px;
}

.single-message-content-div-self {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    column-gap: 10px;
    font-size: 20px;
    margin: 5px 0px;
}

.single-message-content {
    word-break: break-all;
}

.single-message-timestamp {
    font-size: 13px;
    align-self: flex-end;
}

.single-chat-room-input-div {
    width: 100%;
    height: 10%;
    background-color: var(--primaryBgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-chat-room-input-div > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-chat-room-input-div > form > textarea {
    width: 50%;
    height: auto;
    resize: none;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}

.single-chat-room-input-div > form > button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 40px;
}

.single-chat-room-input-div > form > button > i {
    color: var(--primaryTextColor);
    border-radius: 50%;
}

.contact-list-div {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.contact-list-info {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.loggedInBall {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.loggedOutBall {
    background-color: darkred;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.add-new-contact-button-div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryBgColor);
    overflow-y: auto;
}

.add-new-contact-button {
    color: var(--primaryTextColor);
    font-size: 30px;
}

.add-new-contact-button:hover {
    color: white;
    cursor: pointer;
}

.add-new-contact-popup-background-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-new-contact-popup-div {
    width: 50%;
    height: 30%;
    border-radius: 10px;
    background-color: var(--secondaryBgColor);
}

.add-new-contact-popup-div-up {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

.add-new-contact-popup-div-down {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.add-new-contact-popup-close-div {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}

/* .chatroom-messagebox {
    field-sizing: normal;
} */